@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script id="feature-debug-console-script" type='text/javascript' src='~/Scripts/DebugConsoleModel.js'></script>


